.header {
  padding-top: 73px;
  .header__container {
    display: flex;
    align-items: center;
  }
}

.logo {
  flex-shrink: 1;
  margin-right: 40px;
}

.nav__list {
  list-style-type: none;
  display: flex;
  .nav__item {
    margin-left: 40px;
    .nav__link {
      color: $white;
      font-size: $font-size;
      transition: all 0.3s ease;
    }

    .nav__link:hover {
      color: $light-coral;
    }
  }
}

.menu {
  display: none;
  width: 30px;
  height: 30px;
  margin-left: auto;
  background-image: url('./img/menu-img.svg');
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.menu__modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 20;
}

.menu__content {
  position: absolute;
  right: 0;
  top: 0;
  width: 255px;
  height: 100vh;
  background-color: $police-blue;
  background-repeat: no-repeat;
  background-position: right calc(50% - 77px) bottom;
  z-index: 30;

  .menu__header {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-top: 56px;
  }

  .menu__list {
    list-style-type: none;
    margin-left: 28px;
    margin-top: 39px;
    margin-bottom: 12px;
  }

  .menu__item {
    margin-bottom: 24px;
    & > a {
      color: #fff;
    }
  }

  .menu__btn {
    margin-left: 28px;
    display: inline-block;
  }
}

.close {
  width: 30px;
  height: 30px;
  border: none;
  background-image: url('../img/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  margin-left: auto;
}

.menu__item {
  margin-bottom: 24px;
  & > a {
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    .logo {
      width: 128px;
      height: 32px;
      margin-right: 8px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .menu {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    background-image: url('../img/menu-img.svg');
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    padding: 0 24px;
  }

  .header {
    padding-top: 48px;
    .logo {
      flex-shrink: 0;
    }

    .nav {
      display: none;
    }

    &__btn {
      display: none;
    }
  }
}

@media only screen and (max-width: 375px) {
  .container {
    padding: 0 24px;
  }

  .header {
    padding-top: 48px;
    .logo {
      flex-shrink: 0;
    }

    .nav {
      display: none;
    }

    &__btn {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    align-items: center;

    .address {
      margin-left: 0;
      text-align: center;
      margin-bottom: 40px;
    }

    .social {
      margin-left: 0;

      .social__list {
        justify-content: center;
      }
    }

    .nav__link {
      display: inline-block;
    }
  }
}
